doctype html
html(ng-app="plunker")
  head
    meta(charset="utf-8")
    |     
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    |     
    title angular-easyfb API demo
    |     
    link(data-require="bootstrap-css@3.0.0", data-semver="3.0.0", rel="stylesheet", href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    |     
    script.
      document.write('<base href="' + document.location + '" />');
    |     
    link(rel="stylesheet", href="style.css")
    |     
    link(rel="stylesheet", href="http://yandex.st/highlightjs/7.3/styles/zenburn.min.css")
    |     
    script(src="http://yandex.st/highlightjs/7.3/highlight.min.js")
    |     
    script(data-require="angular.js@1.4.x", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js", data-semver="1.4.3")
    |     
    script(src="http://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js")
    |     
    script(src="http://pc035860.github.io/angular-easyfb/angular-easyfb.min.js")
    |     
    script(src="app.js")
  |   
  body(ng-controller="MainCtrl")
    a(href="https://github.com/pc035860/angular-easyfb")
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")
    |     
    .container
      h2 angular-easyfb API demo
      |       
      div
        button.btn.btn-primary(ng-click="login()", ng-disabled="loginStatus.status == 'connected'") Connect with Facebook
        |            
        |         
        button.btn.btn-danger(ng-click="logout()", ng-disabled="!loginStatus || loginStatus.status != 'connected'") Logout
        |           
        |         
        button.btn.btn-success(ng-click="share()") FB.ui
      |       
      |       
      br
      |       
      .row
        .col-md-6
          h4.text-info $FB.loginStatus()
          |           
          .code-block(hljs="", source="loginStatusJSON")
        |         
        .col-md-6
          h4.text-info $FB.api('/me')
          |           
          .code-block(hljs="", source="apiMeJSON")
